
@font-face {
  font-family: "UTMNeoSansIntel";
  src: url("../fonts/UTMNeoSansIntel.eot"); /* IE9 Compat Modes */
  src: url("../fonts/UTMNeoSansIntel.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/UTMNeoSansIntel.otf") format("opentype"), /* Open Type Font */
    url("../fonts/UTMNeoSansIntel.svg") format("svg"), /* Legacy iOS */
    url("../fonts/UTMNeoSansIntel.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/UTMNeoSansIntel.woff") format("woff"), /* Modern Browsers */
    url("../fonts/UTMNeoSansIntel.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTMNeoSansIntelBold";
  src: url("../fonts/UTMNeoSansIntelBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/UTMNeoSansIntelBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/UTMNeoSansIntelBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/UTMNeoSansIntelBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/UTMNeoSansIntelBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/UTMNeoSansIntelBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/UTMNeoSansIntelBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UTMNokia";
  src: url("../fonts/UTMNokia.eot"); /* IE9 Compat Modes */
  src: url("../fonts/UTMNokia.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/UTMNokia.otf") format("opentype"), /* Open Type Font */
    url("../fonts/UTMNokia.svg") format("svg"), /* Legacy iOS */
    url("../fonts/UTMNokia.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/UTMNokia.woff") format("woff"), /* Modern Browsers */
    url("../fonts/UTMNokia.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* Mtr================================================================================ */

@font-face {
  font-family: "mtr-bold";
  src: url("../fonts/mtr/mtr-bold-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-bold-italic";
  src: url("../fonts/mtr/mtr-bold-italic-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-bold-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-heavy";
  src: url("../fonts/mtr/mtr-heavy-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-heavy-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-heavy-italic";
  src: url("../fonts/mtr/mtr-heavy-italic-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-heavy-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-italic";
  src: url("../fonts/mtr/mtr-italic-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-italic-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-light";
  src: url("../fonts/mtr/mtr-light-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-regular";
  src: url("../fonts/mtr/mtr-regular-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "mtr-outline";
  src: url("../fonts/mtr/mtr-outline-webfont.woff2") format("woff2"), url("../fonts/mtr/mtr-outline-webfont.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
